header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        width: 100%;
        background-color: burlywood;
        border-radius: 90px;
      } 

body{
      background-color: bisque;
    }          

h1{
      color:azure;
      
  }   


